body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}

/* Images */

.arrow-down {
    height: 10px;
    position: absolute;
    right: 0;
    top: 3px;
    transition: transform 0.5s ease-in-out;
}

.bg-desktop {
    position: absolute;
    top: -276px;
    left: -575px;
}

.bg-mobile {
    display: none;
}

.box {
    left: -93px;
    position: absolute;
    top: 200px;
}

.woman-desktop {
    left: -80px;
    position: relative;
    top: 65px;
}

.woman-mobile {
    display: none;
}

/* Inputs */

#question-1, 
#question-2,
#question-3,
#question-4,
#question-5 {
    display: none;
}

#question-1:checked ~ label .question,
#question-2:checked ~ label .question,
#question-3:checked ~ label .question,
#question-4:checked ~ label .question,
#question-5:checked ~ label .question {
    color: hsl(238, 29%, 16%);
    font-weight: bold;
}

#question-1:checked ~ label .answer,
#question-2:checked ~ label .answer,
#question-3:checked ~ label .answer,
#question-4:checked ~ label .answer,
#question-5:checked ~ label .answer {
    display: block;
}

#question-1:checked ~ label .arrow-down,
#question-2:checked ~ label .arrow-down,
#question-3:checked ~ label .arrow-down,
#question-4:checked ~ label .arrow-down,
#question-5:checked ~ label .arrow-down {
    transform: rotate(180deg);
}

/* Others */

.attribution { 
    color: #fff;
    font-size: 11px; 
    margin-top: 50px;
    text-align: center; 
}

.attribution a { 
    color: hsl(29, 100%, 81%);
}

/* Sections */

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.left-col {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.right-col {
    padding: 60px 60px 60px 20px;
    text-align: justify;
}

.question-box {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 400px;
}

.question-list {
    max-height: 285px;
    overflow-y: scroll;
    padding-top: 25px;
}

.question-list::-webkit-scrollbar {
    display: none;
}

.row {
    align-items: center;
    background: #fff;
    border-radius: 25px;
    box-shadow: 20px 20px 70px rgba(32, 32, 32, 0.4); 
    display: flex;
    flex-direction: row;
    position: relative;
}

/* Typography */

.answer {
    color: hsl(240, 6%, 50%);
    display: none;
    margin-top: 10px;
}

.question {
    color: hsl(237, 12%, 33%);
    display: inline-block;
    transition: color 0.4s;
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.title {
    margin: 4px 0 15px;
}


@media (max-width: 1100px) {

    /* Images */

    .bg-desktop {
        display: none;
    }

    .bg-mobile {
        display: block;
        position: absolute;
        left: -120px;
    }

    .box {
        display: none;
    }

    .woman-desktop {
        display: none;
    }

    .woman-mobile {
        display: block;
        left: -148px;
        position:  absolute;
        top: -110px;
    }

    /* Sections */

    .left-col {
        height: auto;
        overflow: unset;
    }

    .right-col {
        padding: 128px 25px 35px;
    }

    .question-box {
        width: 350px;
    }

    .row {
        flex-direction: column;
        overflow: unset;
    }

    /* Typography */

    .title {
        text-align: center;
    }

}